# Jetbrains ############################################################################################################

.idea

# CMake ############################################################################################################

cmake-build-*